/* Main color list:
purple: #1d39c4
*/

@import "functions";
@import "values";
@import "breakpoints";

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
html,
p {
  color: #000000;
}

/** Main nav styles **/
.kr--main-nav .ant-menu-item {
  padding: 0;
}

.kr--main-nav .ant-menu-item a {
  padding: 0 20px;
}

.kr--main-nav .ant-menu-item a.active {
  background: #ffffff;
  color: #000000;
}

.kr--full-width-height-banner {
  height: 100vh;
}

.kkr--card-dark-bg-light-text {
  color: #ffffff;
}

.kkr--footer-50-wth-alt-clrbg {
  width: 100%;
  min-height: 200px;
}

.kr--btn-style-wht-bg {
  background: #ffffff;
  color: #1d39c4;
}

@include media-breakpoint-down(md) {
  .kkr--svg-container {
    margin-bottom: 0.5em;
  }
}

@include media-breakpoint-down(sm) {
  .kr--text-padding-bottom {
    padding-bottom: 80px;
  }

  .ant-layout-footer {
    .logo {
      display: block;
      width: 100%;
      margin: 80px 50px;
    }
  }

  .kr--main-nav {
    display: none;
  }

}

.kr--mobile-menu-button {
  display: none;
}

@include media-breakpoint-down(sm) {
  .kr--mobile-menu-button {
    display: block;
  }
}